.full-container {
  height: 85vh;
  display: flex;
  flex-direction: column;
}

.msg-container {
  width: 100%;
  overflow-y: scroll;
  padding-bottom: 20px;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-self: flex-end;
}
